<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Plot CSV</title>
</head>
<body>
<center>
    <h1>Upload a CSV File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Choose a CSV file:</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Upload</button>
    </form>

</center>
</body>
</html>